# Configuration file for SGE (Sun Grid Engine) jobs shedulers. Make sure to set correctly according to your cluster configuration.
__default__:
   N: default
   o: $(pwd)/log/sge-%j.out
   e: $(pwd)/log/sge-%j.err
   q: mpi # change this according to your cluster configuration
   h_vmem: 4G # change this according to your cluster configuration. Make sure if you want to use h_vmem, mem, ... This has to be changed for all rules accordingly
   pe: mpi1node # change this according your cluster configuration

create_demfile:
   N: crdem
fastqtofasta:
   N: fq2fa
combine_fasta:
   N: combfa
reference_free_barcoding:
   N: reffreebc
   h_vmem: 4G
get_summary_for_plotting:
   N: getplotsum
report:
   N: report
blast_consensus_barcode_against_bold:
   N: csblast
blast_individual_barcode_against_bold:
   N: isblast
create_blast_database:
   N: crblastdb
download_bold_sequenes:
   N: dlboldseq
reorient_individual_barcodes:
   N: reib
reorient_consensus_barcodes:
   N: recb
