data_file: "data/data.csv"

analysis: "Gyrodactylus_barcoding_2_guppy_min1000" #analysis name

demfile: "data/demfiles/demfile_Gyro-COI-round-1.csv" # demultiplex file

fastq_files: "data/Gyrodactylus_barcoding_2_guppy_basecalls" 

barcoding_settings:
   length: 400 #estimated length of sequences
   depth: 500 #maximum coverage depth of single barcode
   threads: 16
post_barcoding:
        bold_taxon: "Carabidae" #this is the taxon name for which reference sequences should be downloaded from BOLD. This is for postprocessing of barcodes
        blast_threads: 16
